<section class="section--center mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--8-col">
    <h4>Select</h4>
    <p>Material Design Lite doesn't have its own select component. You'll need to install a separate library for this. Thanks to <a href="https://github.com/MEYVN-digital/mdl-selectfield">mdl-selectfield</a>.</p>
    <pre><code class="typescript">
npm install --save mdl-select-component
    </code></pre>
    <section>
      <h5>Uses:</h5>
      <pre><code class="typescript">
&lt;mdlSelect&gt;
  &lt;option value="1"&gt;Option 1&lt;/option&gt;
  &lt;option value="2"&gt;Option 2&lt;/option&gt;
  &lt;option value="3"&gt;Option 3&lt;/option&gt;
&lt;/mdlSelect&gt;
      </code></pre>
      <mdlSelect>
        <option value="1">Option 1</option>
        <option value="2">Option 2</option>
        <option value="3">Option 3</option>
      </mdlSelect>
    </section>
    <section>
      <h5>Supported Attributes</h5>
      <ul>
        <li><strong>id</strong>: id of the select element.</li>
        <li><strong>class</strong>: class of the select element.</li>
        <li><strong>value</strong>: value of the select element.</li>
        <li><strong>label</strong>: text of the label element.</li>
        <li><strong>disabled</strong>: disable select. (default: false)</li>
      </ul>
    </section>
  </div>
</section>
