<section class="section--center mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--8-col">
    <h4>Spinner</h4>
    <section>
      <h5>Uses:</h5>

      <pre><code class="typescript">
  &lt;mdlSpinner&gt;&lt;/mdlSpinner&gt;
      </code></pre>
      <mdlSpinner></mdlSpinner>

      <pre><code class="typescript">
  &lt;mdlSpinner [singleColor]="true"&gt;&lt;/mdlSpinner&gt;
      </code></pre>
      <mdlSpinner [singleColor]="true"></mdlSpinner>

      <pre><code class="typescript">
  &lt;mdlSpinner [active]="false"&gt;&lt;/mdlSpinner&gt;
      </code></pre>
      <mdlSpinner [active]="false"></mdlSpinner>
    </section>
    <section>
      <h5>Supported Attributes</h5>
      <ul>
        <li><strong>singleColor</strong>: single color spinner. (default: false)</li>
        <li><strong>active</strong>: active status of the spinner. (default: true)</li>
      </ul>
    </section>
  </div>
</section>
