<section class="section--center mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--8-col">
    <h4>Progress</h4>
    <section>
      <h5>Uses:</h5>
      <pre><code class="typescript">
  &lt;md-progress-bar mode="indeterminate"&gt;&lt;/md-progress-bar&gt;
      </code></pre>
      <md-progress-bar mode="indeterminate"></md-progress-bar><br>

      <pre><code class="typescript">
  &lt;md-progress-bar [value]="progress"&gt;&lt;/md-progress-bar&gt;
      </code></pre>
      <md-progress-bar [value]="progress"></md-progress-bar><br>

      <pre><code class="typescript">
  &lt;md-progress-bar [value]="progress2" [bufferValue]="buffer"&gt;&lt;/md-progress-bar&gt;
      </code></pre>
      <md-progress-bar [value]="progress2" [bufferValue]="buffer"></md-progress-bar>
    </section>
    <section>
      <h5>Supported Attributes</h5>
      <ul>
        <li><strong>value</strong>: progress of the progress bar.</li>
        <li><strong>bufferValue</strong>: buffered progress of the progress bar.</li>
        <li><strong>mode</strong>: state of the progress. (default: determinate)</li>
      </ul>
    </section>
  </div>
</section>
