<section class="section--center mdl-grid mdl-grid--no-spacing">
 <div class="mdl-cell mdl-cell--8-col">
 <h4>Radio Buttons</h4>
 <section>
   <h5>Import &amp; Inject</h5>
   <pre><code class="typescript">
import {MdlRadioComponent} from 'ng2-mdl/ng2-mdl';
@Component({
  ...
  directives: [MdlRadioComponent],
  ...
})
  </code></pre>
 </section>
  <section>
    <h5>Uses:</h5>
<pre><code class="typescript">
  &lt;mdlRadio label="Male" value="male" [(ngModel)]="gender"&gt;&lt;/mdlRadio&gt;
  or
  &lt;mdl-radio label="Female" value="female" [(ngModel)]="gender"&gt;&lt;/mdl-radio&gt;
</code></pre>
  <p>Gender:</p>
  <mdlRadio label="Male"   value="male"   [(ngModel)]="gender"></mdlRadio>
  <mdlRadio label="Female" value="female" [(ngModel)]="gender"></mdlRadio>
  <p>{{gender === 'male' ? "Male" : "Female"}}</p>

  </section>
  <section>
    <h5>Supported Attributes</h5>
    This component comes with supports for angular2 ngModel &amp; ngFormControl directives. Here are some attributes you can use to pass data to the component.
    <ul>
      <li><strong>class</strong>: class of the input element.</li>
      <li><strong>value</strong>: value of the input element.</li>
      <li><strong>label</strong>: text of the label element.</li>
      <li><strong>ripple</strong>: ripple effect for the checkbox. (default: true)</li>
    </ul>
  </section>
  </div>
</section>
