<h3>ng2-mdl</h3>
<p>A tiny <a href="http://angular.io">Angular 2</a> wrapper for <a href="http://getmdl.io">Material Design Lite</a></p>
<h5>What is Material Design Lite</h5>
<p>Material Design Lite is a small component library for web project that follows <a href="https://www.google.com/design/spec/material-design/introduction.html">google's material design</a> pattern.</p>
<h5>Why do I need a wrapper for this?</h5>
<p>Material Design Lite is basically developed for vanilla JavaScript based uses. It's not well supported for framework like <a href="https://angularjs.org/">AngularJS</a> and the next generation version of AngularJS which is know as Angular 2</p>
<h5>Ok! But I need a wrapper for Angular 1.x</h5>
<p>That's already available <a href="https://github.com/jadjoubran/angular-material-design-lite">here</a>. Angular 2 version of the wrapper is basically base on this angular 1.x version. So, special thanks to <a href="https://github.com/jadjoubran">Jad Joubran.</a></p>
<h4>How to Use ng2-mdl?</h4>
<h5>Follow these simple 3 steps:</h5>
<section>
  <h6><strong>Step 1: Import</strong></h6>
  <p>First import the MDL Directive/Component from the library. (<a href="#info-table">See the table bellow</a>). For example: </p>
  <pre><code class="typescript">import {MdlButtonComponent} from 'ng2-mdl';</code></pre>
</section>
<section>
  <h6><strong>Step 2: Inject</strong></h6>
  <p>Then inject the directive/component in your component's annotation.</p>
  <pre><code class="typescript">
@Component({
  ...
  directives: [MdlButtonComponent],
  ...
})
  </code></pre>
</section>
<section>
  <h6><strong>Step 3. Use the selector</strong></h6>
  <p>Now use the selector mdlButton (camelCase) or mdl-button (kebab-case) whichever you like. All the selectors comes in both camel case and kebab case</p>
  <pre style="font-size:18px;"><code class="html">
&lt;mdlButton&gt;&lt;/mdlButton&gt;
or
&lt;mdl-button&gt;&lt;/mdl-button&gt;
  </code></pre>
</section>
<h5>Imports</h5>
<table id="info-table" class="mdl-data-table mdl-shadow--2dp">
  <tr>
    <th class="mdl-data-table__cell--non-numeric">Name</th>
    <th class="mdl-data-table__cell--non-numeric">Type</th>
    <th class="mdl-data-table__cell--non-numeric">Selector</th>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric">MdlConfigService</td>
    <td class="mdl-data-table__cell--non-numeric">Service</td>
    <td class="mdl-data-table__cell--non-numeric">n/a</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlUpgradePage']">MdlDirective</a></td>
    <td class="mdl-data-table__cell--non-numeric">Directive</td>
    <td class="mdl-data-table__cell--non-numeric">mdl, mdlUpgrade or mdl-upgrade</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlButtonPage']">MdlButtonComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlButton&gt; or &lt;mdl-button&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlCheckBoxPage']">MdlCheckBoxComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlCheckBox&gt; or &lt;mdl-check-box&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlLayoutPage']">MdlLayoutComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlLayout&gt; or &lt;mdl-layout&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlLayoutPage']">MdlHeaderComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlHeader&gt; or &lt;mdl-header&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlLayoutPage']">MdlDrawerComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlDrawer&gt; or &lt;mdl-drawer&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlLayoutPage']">MdlContentComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlContent&gt; or &lt;mdl-content&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlProgressPage']">MdlProgressComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlProgress&gt; or &lt;mdl-progress&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlRadioPage']">MdlRadioComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlRadio&gt; or &lt;mdl-radio&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlSelectPage']">MdlSelectComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlSelect&gt; or &lt;mdl-select&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlSpinnerPage']">MdlSpinnerComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlSpinner&gt; or &lt;mdl-spinner&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlSwitchPage']">MdlSwitchComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlSwitch&gt; or &lt;mdl-switch&gt;</td>
  </tr>
  <tr>
    <td class="mdl-data-table__cell--non-numeric"><a [routerLink]="['MdlTextFieldPage']">MdlTextFieldComponent</a></td>
    <td class="mdl-data-table__cell--non-numeric">Component</td>
    <td class="mdl-data-table__cell--non-numeric">&lt;mdlTextField&gt; or &lt;mdl-text-field&gt;</td>
  </tr>
</table>
