<h3>ng2-mdl</h3>
<p>A tiny <a href="http://angular.io">Angular 2</a> wrapper for <a href="http://getmdl.io">Material Design Lite</a></p>
<h5>What is Material Design Lite</h5>
<p>Material Design Lite is a small component library for web project that follows <a href="https://www.google.com/design/spec/material-design/introduction.html">google's material design</a> pattern.</p>
<h5>Why do I need a wrapper for this?</h5>
<p>Material Design Lite is basically developed for vanilla JavaScript based uses. It's not well supported for framework like <a href="https://angularjs.org/">AngularJS</a> and the next generation version of AngularJS which is know as Angular 2</p>
<h5>Ok! But I need a wrapper for Angular 1.x</h5>
<p>Thats already available <a href="https://github.com/jadjoubran/angular-material-design-lite">here</a>. Angular 2 version of the wrapper is basically base on this angular 1.x version. So, special thanks to <a href="https://github.com/jadjoubran">Jad Joubran.</a></p>
