<section class="section--center mdl-grid mdl-grid--no-spacing">
  <div class="mdl-cell mdl-cell--8-col">
    <h4>Switch</h4>
    <section>
      <h5>Uses:</h5>
      <pre><code class="typescript">
  &lt;mdlSwitch label="Switch" [(ngModel)]="example"&gt;&lt;/mdlSwitch&gt;
      </code></pre>
      <mdlSwitch label="Switch" [(ngModel)]="example"></mdlSwitch>
      <p>{{example ? "Switch On" : "Switch Off"}}</p>
    </section>
    <section>
      <h5>Supported Attributes</h5>
      <p>This component comes with supports for angular2 ngModel &amp; ngFormControl directives. Here are some attributes you can use to pass data to the component.</p>
      <ul>
        <li><strong>class</strong>: class of the input element.</li>
        <li><strong>value</strong>: value of the input element. (default: true)</li>
        <li><strong>label</strong>: text of the label element.</li>
        <li><strong>ripple</strong>: ripple effect for the checkbox. (default: true)</li>
      </ul>
    </section>
  </div>
</section>
