<section class="section--center mdl-grid mdl-grid--no-spacing">
 <div class="mdl-cell mdl-cell--8-col">
 <h4>Progress</h4>
 <section>
   <h5>Import &amp; Inject</h5>
   <pre><code class="typescript">
import {MdlProgressComponent} from 'ng2-mdl/ng2-mdl';
@Component({
  ...
  directives: [MdlProgressComponent],
  ...
})
  </code></pre>
 </section>
  <section>
    <h5>Uses:</h5>
<pre><code class="typescript">
  &lt;mdlProgress [indeterminate]="true"&gt;&lt;/mdlProgress&gt;
  &lt;mdlProgress [progress]="progress"&gt;&lt;/mdlProgress&gt;
  &lt;mdlProgress [progress]="progress2" [buffer]="buffer"&gt;&lt;/mdlProgress&gt;
</code></pre>
    <mdlProgress [indeterminate]="true"></mdlProgress><br>
    <mdlProgress [progress]="progress"></mdlProgress><br>
    <mdlProgress [progress]="progress2" [buffer]="buffer"></mdlProgress>
  </section>
  <section>
    <h5>Supported Attributes</h5>
    <ul>
      <li><strong>progress</strong>: progress of the progress bar.</li>
      <li><strong>buffer</strong>: buffered progress of the progress bar.</li>
      <li><strong>indeterminate</strong>: indeterminate state. (default: false)</li>
    </ul>
  </section>
  </div>
</section>
