<section class="section--center mdl-grid mdl-grid--no-spacing">
 <div class="mdl-cell mdl-cell--8-col">
   <h4>Check Box</h4>
    <section>
      <h5>Uses:</h5>
      <pre><code class="typescript">
  &lt;mdlCheckBox label="Are you ready?" [(ngModel)]="example"&gt;&lt;/mdlCheckBox&gt;
      </code></pre>
      <mdlCheckBox label="Are you ready?" [(ngModel)]="ready"></mdlCheckBox>
      <p>{{ready ? "Yes! I am." : "Not Yet!"}}</p>
    </section>
    <section>
      <h5>Supported Attributes</h5>
      <p>This component comes with supports for angular2 ngModel &amp; ngFormControl directives. Here are some attributes you can use to pass data to the component.</p>
      <ul>
        <li><strong>class</strong>: class of the input element.</li>
        <li><strong>value</strong>: value of the input element. (default: false)</li>
        <li><strong>disabled</strong>: disable checkbox. (default: false)</li>
        <li><strong>label</strong>: text of the label element.</li>
        <li><strong>ripple</strong>: ripple effect for the checkbox. (default: true)</li>
      </ul>
    </section>
  </div>
</section>
